In [1]:
import pymysql, urllib.request, csv, re, datetime
from flask import Flask, render_template, request, redirect
from flask_sqlalchemy import SQLAlchemy
from dateutil.relativedelta import relativedelta

#基隆市KEL Keelung
KEL_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%9F%BA%E9%9A%86%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#新北市NTPC New_Taipei
NTPC_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E6%96%B0%E5%8C%97%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#台北市TPE Taipei
TPE_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%8F%B0%E5%8C%97%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#桃園市TYN Taoyuan
TYN_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E6%A1%83%E5%9C%92%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#新竹縣HSZ0 Hsinchu_County
HSZ0_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E6%96%B0%E7%AB%B9%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#新竹市HSZ1 Hsinchu_City
HSZ1_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E6%96%B0%E7%AB%B9%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#苗栗縣ZMI Miaoli
ZMI_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E8%8B%97%E6%A0%97%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#台中市TXG Taichung
TXG_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%8F%B0%E4%B8%AD%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#彰化縣CHW Changhua
CHW_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%BD%B0%E5%8C%96%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#南投縣NTC Nantou
NTC_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%8D%97%E6%8A%95%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#雲林縣YUN Yunlin
YUN_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E9%9B%B2%E6%9E%97%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#嘉義縣CYI0 Chiayi_County
CYI0_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%98%89%E7%BE%A9%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#嘉義市CYI1 Chiayi_City
CYI1_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%98%89%E7%BE%A9%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#台南市TNN Tainan
TNN_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%8F%B0%E5%8D%97%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#高雄市KHH Kaohsiung
KHH_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E9%AB%98%E9%9B%84%E5%B8%82%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#屏東縣PIF Pingtung
PIF_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%B1%8F%E6%9D%B1%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#宜蘭縣ILA Yilan
ILA_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%AE%9C%E8%98%AD%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#花蓮縣HUN Hualien
HUN_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E8%8A%B1%E8%93%AE%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#台東縣TTT Taitung
TTT_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E5%8F%B0%E6%9D%B1%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#澎湖縣PEH Penghu
PEH_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E6%BE%8E%E6%B9%96%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#金門縣KNH Kinmen
KNH_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E9%87%91%E9%96%80%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"
#連江縣LNN Lienchiang
LNN_url = "https://raw.githubusercontent.com/lintao89/project_data/main/%E9%80%A3%E6%B1%9F%E7%B8%A3%E6%AF%8F%E6%97%A5%E7%A2%BA%E8%A8%BA%E6%95%B8.csv"

def create():
    conn = pymysql.connect(
        host = 'localhost',
        user = 'root',
        password = '20010303',
        database = '專題'
    )
    cursor = conn.cursor()
    
    sql_create = '''
    CREATE TABLE IF NOT EXISTS Taiwan (個案研判日 Date NULL, 縣市 VARCHAR(255) NULL, 確定病例數 VARCHAR(255) NULL);'''
    cursor.execute(sql_create)
    cursor.execute('truncate Taiwan;')
    
    #台中市TXG Taichung
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(TXG_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()

    #基隆市KEL Keelung
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(KEL_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #新北市NTPC New_Taipei
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(NTPC_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #台北市TPE Taipei
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(TPE_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #桃園市TYN Taoyuan
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(TYN_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #新竹縣HSZ0 Hsinchu_County
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(HSZ0_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #新竹市HSZ1 Hsinchu_City
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(HSZ1_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #苗栗縣ZMI Miaoli
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(ZMI_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #彰化縣CHW Changhua
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(CHW_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #南投縣NTC Nantou
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(NTC_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #雲林縣YUN Yunlin
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(YUN_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #嘉義縣CYI0 Chiayi_County
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(CYI0_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #嘉義市CYI1 Chiayi_City
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(CYI1_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #台南市TNN Tainan
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(TNN_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #高雄市KHH Kaohsiung
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(KHH_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #屏東縣PIF Pingtung
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(PIF_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #宜蘭縣ILA Yilan
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(ILA_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #花蓮縣HUN Hualien
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(HUN_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #台東縣TTT Taitung
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(TTT_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #澎湖縣PEH Penghu
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(PEH_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #金門縣KNH Kinmen
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(KNH_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #連江縣LNN Lienchiang
    sql_insert = '''insert into Taiwan value(%s, %s, %s);'''
    with urllib.request.urlopen(LNN_url) as f:
        f.readline().decode('UTF-8')
        while (True):
            res = f.readline().strip().decode(encoding='UTF-8').split(',')
            # 到沒資料離開迴圈
            if res != ['']:
                cursor.execute(sql_insert,[res[0], res[1], res[2]])
                #print(res)
            else:
                break
        conn.commit()
    
    #cursor.close()
    #conn.close()

create()

In [2]:
# 初始化sqlalchemy
db = SQLAlchemy()
app = Flask(__name__, static_url_path="/")

app.config['SQLALCHEMY_TRACK_MODIFICATIONS']=False
app.config['SQLALCHEMY_DATABASE_URI'] = "mysql+pymysql://root:20010303@localhost:3306/專題"
# [DB_TYPE]+[DB_CONNECTOR]://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]

db.init_app(app)
#db = SQLAlchemy(app)

first_url = "https://htmlpreview.github.io/?https://github.com/zu-z/project/blob/main/first_web.html"
#https://raw.githubusercontent.com/zu-z/project/main/first_web.html
second_url = "https://htmlpreview.github.io/?https://github.com/zu-z/project/blob/main/second_web.html"
#https://raw.githubusercontent.com/zu-z/project/main/second_web.html

@app.route("/")
def first_web():
    #return redirect(first_url)
    return render_template('first_web.html')

@app.route("/second_web", methods=["POST","GET"])
def second_web():
    print(request.method)
    if request.method == "POST":
        user_input = request.values['user_input']
        user_date = request.values['user_date']
    else:
        user_input = request.args.get('user_input')
        user_date = request.args.get('user_date')
    
    date = datetime.datetime.strptime(user_date, "%Y-%m-%d")
    
    if(user_input == '一天'):
        user_date_ = user_date
        date_all = []
        date_all.append(user_date_)
        
        #基隆市KEL Keelung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "基隆市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KEL = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_KEL) == 0):
            data_all_KEL.append("('0',)")
        
        #新北市NTPC New_Taipei
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新北市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_NTPC = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_NTPC) == 0):
            data_all_NTPC.append("('0',)")
        
        #台北市TPE Taipei
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台北市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TPE = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_TPE) == 0):
            data_all_TPE.append("('0',)")
        
        #桃園市TYN Taoyuan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "桃園市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TYN = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_TYN) == 0):
            data_all_TYN.append("('0',)")
        
        #新竹縣HSZ0 Hsinchu_County
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新竹縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HSZ0 = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_HSZ0) == 0):
            data_all_HSZ0.append("('0',)")
        
        #新竹市HSZ1 Hsinchu_City
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新竹市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HSZ1 = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_HSZ1) == 0):
            data_all_HSZ1.append("('0',)")
        
        #苗栗縣ZMI Miaoli
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "苗栗縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_ZMI = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_ZMI) == 0):
            data_all_ZMI.append("('0',)")
        
        #台中市TXG Taichung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台中市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TXG = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_TXG) == 0):
            data_all_TXG.append("('0',)")
        
        #彰化縣CHW Changhua
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "彰化縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CHW = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_CHW) == 0):
            data_all_CHW.append("('0',)")
        
        #南投縣NTC Nantou
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "南投縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_NTC = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_NTC) == 0):
            data_all_NTC.append("('0',)")
        
        #雲林縣YUN Yunlin
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "雲林縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_YUN = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_YUN) == 0):
            data_all_YUN.append("('0',)")
        
        #嘉義縣CYI0 Chiayi_County
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "嘉義縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CYI0 = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_CYI0) == 0):
            data_all_CYI0.append("('0',)")
        
        #嘉義市CYI1 Chiayi_City
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "嘉義市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CYI1 = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_CYI1) == 0):
            data_all_CYI1.append("('0',)")
        
        #台南市TNN Tainan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台南市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TNN = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_TNN) == 0):
            data_all_TNN.append("('0',)")
        
        #高雄市KHH Kaohsiung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "高雄市" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KHH = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_KHH) == 0):
            data_all_KHH.append("('0',)")
        
        #屏東縣PIF Pingtung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "屏東縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_PIF = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_PIF) == 0):
            data_all_PIF.append("('0',)")
        
        #宜蘭縣ILA Yilan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "宜蘭縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_ILA = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_ILA) == 0):
            data_all_ILA.append("('0',)")
        
        #花蓮縣HUN Hualien
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "花蓮縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HUN = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_HUN) == 0):
            data_all_HUN.append("('0',)")
        
        #台東縣TTT Taitung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台東縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TTT = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_TTT) == 0):
            data_all_TTT.append("('0',)")
        
        #澎湖縣PEH Penghu
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "澎湖縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_PEH = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_PEH) == 0):
            data_all_PEH.append("('0',)")
        
        #金門縣KNH Kinmen
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "金門縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KNH = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_KNH) == 0):
            data_all_KNH.append("('0',)")
        
        #連江縣LNN Lienchiang
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "連江縣" AND 個案研判日 = "%s" ;""" %(user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_LNN = db.engine.execute(sql).fetchall() #取出全部資料
        if (len(data_all_LNN) == 0):
            data_all_LNN.append("('0',)")

    elif(user_input == '一周'):
        user_date_ = (date + datetime.timedelta(days=6)).strftime("%Y-%m-%d")
        date_all = []
        for i in range(7):
            date_all += ((date + datetime.timedelta(days=i)).strftime("%Y-%m-%d")).split()
        print(date_all)
        print(type(date_all))
        
        #基隆市KEL Keelung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "基隆市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KEL = db.engine.execute(sql).fetchall() #取出全部資料
        
        #新北市NTPC New_Taipei
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新北市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_NTPC = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台北市TPE Taipei
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台北市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TPE = db.engine.execute(sql).fetchall() #取出全部資料
        
        #桃園市TYN Taoyuan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "桃園市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TYN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #新竹縣HSZ0 Hsinchu_County
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新竹縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HSZ0 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #新竹市HSZ1 Hsinchu_City
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新竹市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HSZ1 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #苗栗縣ZMI Miaoli
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "苗栗縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_ZMI = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台中市TXG Taichung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台中市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TXG = db.engine.execute(sql).fetchall() #取出全部資料
        
        #彰化縣CHW Changhua
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "彰化縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CHW = db.engine.execute(sql).fetchall() #取出全部資料
        
        #南投縣NTC Nantou
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "南投縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_NTC = db.engine.execute(sql).fetchall() #取出全部資料
        
        #雲林縣YUN Yunlin
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "雲林縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_YUN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #嘉義縣CYI0 Chiayi_County
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "嘉義縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CYI0 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #嘉義市CYI1 Chiayi_City
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "嘉義市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CYI1 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台南市TNN Tainan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台南市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TNN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #高雄市KHH Kaohsiung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "高雄市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KHH = db.engine.execute(sql).fetchall() #取出全部資料
        
        #屏東縣PIF Pingtung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "屏東縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_PIF = db.engine.execute(sql).fetchall() #取出全部資料
        
        #宜蘭縣ILA Yilan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "宜蘭縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_ILA = db.engine.execute(sql).fetchall() #取出全部資料
        
        #花蓮縣HUN Hualien
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "花蓮縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HUN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台東縣TTT Taitung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台東縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TTT = db.engine.execute(sql).fetchall() #取出全部資料
        
        #澎湖縣PEH Penghu
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "澎湖縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_PEH = db.engine.execute(sql).fetchall() #取出全部資料
        
        #金門縣KNH Kinmen
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "金門縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KNH = db.engine.execute(sql).fetchall() #取出全部資料
        
        #連江縣LNN Lienchiang
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "連江縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_LNN = db.engine.execute(sql).fetchall() #取出全部資料
            
    elif(user_input == '一月'):
        user_date_ = (date + relativedelta(months = +1)).strftime("%Y-%m-%d")
        d_start = datetime.datetime.strptime(user_date, "%Y-%m-%d")
        d_end = datetime.datetime.strptime(user_date_, "%Y-%m-%d")
        d_delta = d_end - d_start
        date_all = []
        for i in range(d_delta.days+1):
            date_all += ((date + datetime.timedelta(days=i)).strftime("%Y-%m-%d")).split()
        print(date_all)
        print(type(date_all))
        
        #基隆市KEL Keelung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "基隆市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KEL = db.engine.execute(sql).fetchall() #取出全部資料
        
        #新北市NTPC New_Taipei
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新北市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_NTPC = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台北市TPE Taipei
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台北市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TPE = db.engine.execute(sql).fetchall() #取出全部資料
        
        #桃園市TYN Taoyuan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "桃園市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TYN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #新竹縣HSZ0 Hsinchu_County
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新竹縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HSZ0 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #新竹市HSZ1 Hsinchu_City
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "新竹市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HSZ1 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #苗栗縣ZMI Miaoli
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "苗栗縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_ZMI = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台中市TXG Taichung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台中市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TXG = db.engine.execute(sql).fetchall() #取出全部資料
        
        #彰化縣CHW Changhua
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "彰化縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CHW = db.engine.execute(sql).fetchall() #取出全部資料
        
        #南投縣NTC Nantou
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "南投縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_NTC = db.engine.execute(sql).fetchall() #取出全部資料
        
        #雲林縣YUN Yunlin
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "雲林縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_YUN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #嘉義縣CYI0 Chiayi_County
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "嘉義縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CYI0 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #嘉義市CYI1 Chiayi_City
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "嘉義市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_CYI1 = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台南市TNN Tainan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台南市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TNN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #高雄市KHH Kaohsiung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "高雄市" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KHH = db.engine.execute(sql).fetchall() #取出全部資料
        
        #屏東縣PIF Pingtung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "屏東縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_PIF = db.engine.execute(sql).fetchall() #取出全部資料
        
        #宜蘭縣ILA Yilan
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "宜蘭縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_ILA = db.engine.execute(sql).fetchall() #取出全部資料
        
        #花蓮縣HUN Hualien
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "花蓮縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_HUN = db.engine.execute(sql).fetchall() #取出全部資料
        
        #台東縣TTT Taitung
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "台東縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_TTT = db.engine.execute(sql).fetchall() #取出全部資料
        
        #澎湖縣PEH Penghu
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "澎湖縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_PEH = db.engine.execute(sql).fetchall() #取出全部資料
        
        #金門縣KNH Kinmen
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "金門縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_KNH = db.engine.execute(sql).fetchall() #取出全部資料
        
        #連江縣LNN Lienchiang
        sql = """ SELECT 確定病例數 from Taiwan where 縣市 = "連江縣" AND 個案研判日 >= "%s" AND 個案研判日 <= "%s" ;""" %(user_date, user_date_)
        db.engine.execute(sql) #執行 SQL 指令
        data_all_LNN = db.engine.execute(sql).fetchall() #取出全部資料
        
    
    # list轉string後，取re數字(list)
    data_re01 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_KEL))
    data_re02 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_NTPC))
    data_re03 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_TPE))
    data_re04 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_TYN))
    data_re05 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_HSZ0))
    data_re06 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_HSZ1))
    data_re07 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_ZMI))
    data_re08 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_TXG))
    data_re09 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_CHW))
    data_re10 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_NTC))
    data_re11 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_YUN))
    data_re12 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_CYI0))
    data_re13 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_CYI1))
    data_re14 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_TNN))
    data_re15 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_KHH))
    data_re16 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_PIF))
    data_re17 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_ILA))
    data_re18 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_HUN))
    data_re19 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_TTT))
    data_re20 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_PEH))
    data_re21 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_KNH))
    data_re22 = re.findall(r"\d+", ",".join("%s" %id for id in data_all_LNN))
    
    if (len(data_re01) == 0):
        data_re01.append('0')
    if (len(data_re02) == 0):
        data_re02.append('0')
    if (len(data_re03) == 0):
        data_re03.append('0')
    if (len(data_re04) == 0):
        data_re04.append('0')
    if (len(data_re05) == 0):
        data_re05.append('0')
    if (len(data_re06) == 0):
        data_re06.append('0')
    if (len(data_re07) == 0):
        data_re07.append('0')
    if (len(data_re08) == 0):
        data_re08.append('0')
    if (len(data_re09) == 0):
        data_re09.append('0')
    if (len(data_re10) == 0):
        data_re10.append('0')
    if (len(data_re11) == 0):
        data_re11.append('0')
    if (len(data_re12) == 0):
        data_re12.append('0')
    if (len(data_re13) == 0):
        data_re13.append('0')
    if (len(data_re14) == 0):
        data_re14.append('0')
    if (len(data_re15) == 0):
        data_re15.append('0')
    if (len(data_re16) == 0):
        data_re16.append('0')
    if (len(data_re17) == 0):
        data_re17.append('0')
    if (len(data_re18) == 0):
        data_re18.append('0')
    if (len(data_re19) == 0):
        data_re19.append('0')
    if (len(data_re20) == 0):
        data_re20.append('0')
    if (len(data_re21) == 0):
        data_re21.append('0')
    if (len(data_re22) == 0):
        data_re22.append('0')
    
    # 全國人數加總list
    data_all = []
    for i in range(len(data_re01)): 
        total = (int(data_re01[i]) + int(data_re02[i]) + int(data_re03[i]) + int(data_re04[i]) + 
                 int(data_re05[i]) + int(data_re06[i]) + int(data_re07[i]) + int(data_re08[i]) + 
                 int(data_re09[i]) + int(data_re10[i]) + int(data_re11[i]) + int(data_re12[i]) + 
                 int(data_re13[i]) + int(data_re14[i]) + int(data_re15[i]) + int(data_re16[i]) + 
                 int(data_re17[i]) + int(data_re18[i]) + int(data_re19[i]) + int(data_re20[i]) + 
                 int(data_re21[i]) + int(data_re22[i]))
        print(total)
        data_all.append(total)
    print(data_all)
    
    # 日期最後一天的確診人數
    today_data = data_all[-1]
    data_KEL = data_re01[-1]
    data_NTPC = data_re02[-1]
    data_TPE = data_re03[-1]
    data_TYN = data_re04[-1]
    data_HSZ0 = data_re05[-1]
    data_HSZ1 = data_re06[-1]
    data_ZMI = data_re07[-1]
    data_TXG = data_re08[-1]
    data_CHW = data_re09[-1]
    data_NTC = data_re10[-1]
    data_YUN = data_re11[-1]
    data_CYI0 = data_re12[-1]
    data_CYI1 = data_re13[-1]
    data_TNN = data_re14[-1]
    data_KHH = data_re15[-1]
    data_PIF = data_re16[-1]
    data_ILA = data_re17[-1]
    data_HUN = data_re18[-1]
    data_TTT = data_re19[-1]
    data_PEH = data_re20[-1]
    data_KNH = data_re21[-1]
    data_LNN = data_re22[-1]
    
    # 合併list，全部日期 + 全國確診人數
    list_all = dict(zip(date_all, data_all))
    
    print("user_input：", user_input, type(user_input)) #選擇幾天
    print("user_date：", user_date, type(user_date)) #選擇的日期
    print("user_date_：", user_date_, type(user_date_)) #相加後的日期
    print("data_all_TPE：", data_all_TPE, type(data_all_TPE)) #執行sql指令後的data
    print("data_re03：", data_re03, type(data_re03)) #list轉string後，取re數字(list)
    print("data_all：", data_all, type(data_all)) #全國人數加總list
    print("today_data：", today_data, type(today_data)) #日期最後一天的全國確診人數
    print("data_TPE：", data_TPE, type(data_TPE)) #日期最後一天的TPE確診人數
    print("list_all：", list_all, type(list_all)) #合併list
    
    #return redirect(second_url, **locals())
    return render_template("second_web.html", **locals())

if __name__ == '__main__':
    print('####  Flask Start... ####')
    #app.debug = True
    #app.use_reloader=False
    app.run('0.0.0.0')
    #app.run()
    #db.close() #關閉連線

####  Flask Start... ####
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://192.168.0.2:5000/ (Press CTRL+C to quit)
192.168.0.2 - - [25/Nov/2022 00:17:59] "GET / HTTP/1.1" 200 -

POST
['2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30', '2022-07-01']
<class 'list'>

192.168.0.2 - - [25/Nov/2022 00:18:04] "POST /second_web HTTP/1.1" 200 -

56300
76478
60658
59137
27615
82696
67366
62240
43282
52585
67668
43031
46481
65752
53111
50835
35392
38348
22747
39790
47844
41304
33099
24592
37560
22077
21102
34852
26384
33864
32790
[56300, 76478, 60658, 59137, 27615, 82696, 67366, 62240, 43282, 52585, 67668, 43031, 46481, 65752, 53111, 50835, 35392, 38348, 22747, 39790, 47844, 41304, 33099, 24592, 37560, 22077, 21102, 34852, 26384, 33864, 32790]
user_input： 一月 <class 'str'>
user_date： 2022-06-01 <class 'str'>
user_date_： 2022-07-01 <class 'str'>
data_all_TPE： [('0',), ('5231',), ('4458',), ('3770',), ('0',), ('5020',), ('4694',), ('4313',), ('4202',), ('3304',), ('4326',), ('2674',), ('3517',), ('3791',), ('0',), ('3174',), ('3024',), ('0',), ('2151',), ('0',), ('3178',), ('3071',), ('2851',), ('2467',), ('2429',), ('1830',), ('0',), ('2981',), ('0',), ('2496',), ('2338',)] <class 'list'>
data_re03： ['0', '5231', '4458', '3770', '0', '5020', '4694', '4313', '4202', '3304', '4326', '2674', '3517', '3791', '0', '3174', '3024', '0', '2151', '0', '3178', '3071', '2851', '2467', '2429', '1830', '0', '2981', '0', '2496', '2338'] <class 'list'>
data_all： [56300, 76478, 60658, 59137, 27615, 82696, 67366, 62240, 43282, 52585, 67668, 43031, 46481, 65752, 53111, 50835, 35392, 38348, 22747, 39790, 47844, 41304, 33099, 24592, 37560, 22077, 21102, 34852, 26384, 33864, 32790] <class 'list'>
today_data： 32790 <class 'int'>
data_TPE： 2338 <class 'str'>
list_all： {'2022-06-01': 56300, '2022-06-02': 76478, '2022-06-03': 60658, '2022-06-04': 59137, '2022-06-05': 27615, '2022-06-06': 82696, '2022-06-07': 67366, '2022-06-08': 62240, '2022-06-09': 43282, '2022-06-10': 52585, '2022-06-11': 67668, '2022-06-12': 43031, '2022-06-13': 46481, '2022-06-14': 65752, '2022-06-15': 53111, '2022-06-16': 50835, '2022-06-17': 35392, '2022-06-18': 38348, '2022-06-19': 22747, '2022-06-20': 39790, '2022-06-21': 47844, '2022-06-22': 41304, '2022-06-23': 33099, '2022-06-24': 24592, '2022-06-25': 37560, '2022-06-26': 22077, '2022-06-27': 21102, '2022-06-28': 34852, '2022-06-29': 26384, '2022-06-30': 33864, '2022-07-01': 32790} <class 'dict'>
POST
['2022-07-20', '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24', '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12', '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16', '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20']
<class 'list'>

192.168.0.2 - - [25/Nov/2022 00:19:20] "POST /second_web HTTP/1.1" 200 -

18387
17076
14575
19374
12454
19349
17781
22718
17881
16073
20404
15739
18888
18207
14425
16947
12589
20955
11110
11539
20455
21589
13629
19691
11202
14492
17706
24120
16128
12517
17701
14164
[18387, 17076, 14575, 19374, 12454, 19349, 17781, 22718, 17881, 16073, 20404, 15739, 18888, 18207, 14425, 16947, 12589, 20955, 11110, 11539, 20455, 21589, 13629, 19691, 11202, 14492, 17706, 24120, 16128, 12517, 17701, 14164]
user_input： 一月 <class 'str'>
user_date： 2022-07-20 <class 'str'>
user_date_： 2022-08-20 <class 'str'>
data_all_TPE： [('2539',), ('2268',), ('2130',), ('1981',), ('1565',), ('2302',), ('2367',), ('2305',), ('2089',), ('1862',), ('1900',), ('1452',), ('2102',), ('2245',), ('2251',), ('2204',), ('2047',), ('2141',), ('1372',), ('2447',), ('2423',), ('2377',), ('2282',), ('2318',), ('0',), ('1673',), ('2464',), ('2911',), ('2701',), ('2625',), ('2526',), ('0',)] <class 'list'>
data_re03： ['2539', '2268', '2130', '1981', '1565', '2302', '2367', '2305', '2089', '1862', '1900', '1452', '2102', '2245', '2251', '2204', '2047', '2141', '1372', '2447', '2423', '2377', '2282', '2318', '0', '1673', '2464', '2911', '2701', '2625', '2526', '0'] <class 'list'>
data_all： [18387, 17076, 14575, 19374, 12454, 19349, 17781, 22718, 17881, 16073, 20404, 15739, 18888, 18207, 14425, 16947, 12589, 20955, 11110, 11539, 20455, 21589, 13629, 19691, 11202, 14492, 17706, 24120, 16128, 12517, 17701, 14164] <class 'list'>
today_data： 14164 <class 'int'>
data_TPE： 0 <class 'str'>
list_all： {'2022-07-20': 18387, '2022-07-21': 17076, '2022-07-22': 14575, '2022-07-23': 19374, '2022-07-24': 12454, '2022-07-25': 19349, '2022-07-26': 17781, '2022-07-27': 22718, '2022-07-28': 17881, '2022-07-29': 16073, '2022-07-30': 20404, '2022-07-31': 15739, '2022-08-01': 18888, '2022-08-02': 18207, '2022-08-03': 14425, '2022-08-04': 16947, '2022-08-05': 12589, '2022-08-06': 20955, '2022-08-07': 11110, '2022-08-08': 11539, '2022-08-09': 20455, '2022-08-10': 21589, '2022-08-11': 13629, '2022-08-12': 19691, '2022-08-13': 11202, '2022-08-14': 14492, '2022-08-15': 17706, '2022-08-16': 24120, '2022-08-17': 16128, '2022-08-18': 12517, '2022-08-19': 17701, '2022-08-20': 14164} <class 'dict'>
POST
['2022-07-06', '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12']
<class 'list'>

192.168.0.2 - - [25/Nov/2022 00:19:54] "POST /second_web HTTP/1.1" 200 -

24366
27442
14271
25209
13917
25992
19426
[24366, 27442, 14271, 25209, 13917, 25992, 19426]
user_input： 一周 <class 'str'>
user_date： 2022-07-06 <class 'str'>
user_date_： 2022-07-12 <class 'str'>
data_all_TPE： [('2576',), ('2492',), ('0',), ('0',), ('1595',), ('2518',), ('2816',)] <class 'list'>
data_re03： ['2576', '2492', '0', '0', '1595', '2518', '2816'] <class 'list'>
data_all： [24366, 27442, 14271, 25209, 13917, 25992, 19426] <class 'list'>
today_data： 19426 <class 'int'>
data_TPE： 2816 <class 'str'>
list_all： {'2022-07-06': 24366, '2022-07-07': 27442, '2022-07-08': 14271, '2022-07-09': 25209, '2022-07-10': 13917, '2022-07-11': 25992, '2022-07-12': 19426} <class 'dict'>
POST
['2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31']
<class 'list'>
0

[2022-11-25 00:20:08,474] ERROR in app: Exception on /second_web [POST]
Traceback (most recent call last):
  File "D:\88690\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "D:\88690\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "D:\88690\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "D:\88690\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "D:\88690\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "D:\88690\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\88690\AppData\Local\Temp\ipykernel_6464\402916487.py", line 510, in second_web
    int(data_re21[i]) + int(data_re22[i]))
IndexError: list index out of range
192.168.0.2 - - [25/Nov/2022 00:20:08] "POST /second_web HTTP/1.1" 500 -

POST
['2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12', '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16', '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20', '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25', '2022-08-26', '2022-08-27', '2022-08-28', '2022-08-29']
<class 'list'>

192.168.0.2 - - [25/Nov/2022 00:21:59] "POST /second_web HTTP/1.1" 200 -

16073
20404
15739
18888
18207
14425
16947
12589
20955
11110
11539
20455
21589
13629
19691
11202
14492
17706
24120
16128
12517
17701
14164
12437
20572
19240
26069
15148
21274
22320
15848
17759
[16073, 20404, 15739, 18888, 18207, 14425, 16947, 12589, 20955, 11110, 11539, 20455, 21589, 13629, 19691, 11202, 14492, 17706, 24120, 16128, 12517, 17701, 14164, 12437, 20572, 19240, 26069, 15148, 21274, 22320, 15848, 17759]
user_input： 一月 <class 'str'>
user_date： 2022-07-29 <class 'str'>
user_date_： 2022-08-29 <class 'str'>
data_all_TPE： [('1862',), ('1900',), ('1452',), ('2102',), ('2245',), ('2251',), ('2204',), ('2047',), ('2141',), ('1372',), ('2447',), ('2423',), ('2377',), ('2282',), ('2318',), ('0',), ('1673',), ('2464',), ('2911',), ('2701',), ('2625',), ('2526',), ('0',), ('1881',), ('3070',), ('3194',), ('3288',), ('0',), ('3166',), ('3105',), ('2380',), ('0',)] <class 'list'>
data_re03： ['1862', '1900', '1452', '2102', '2245', '2251', '2204', '2047', '2141', '1372', '2447', '2423', '2377', '2282', '2318', '0', '1673', '2464', '2911', '2701', '2625', '2526', '0', '1881', '3070', '3194', '3288', '0', '3166', '3105', '2380', '0'] <class 'list'>
data_all： [16073, 20404, 15739, 18888, 18207, 14425, 16947, 12589, 20955, 11110, 11539, 20455, 21589, 13629, 19691, 11202, 14492, 17706, 24120, 16128, 12517, 17701, 14164, 12437, 20572, 19240, 26069, 15148, 21274, 22320, 15848, 17759] <class 'list'>
today_data： 17759 <class 'int'>
data_TPE： 0 <class 'str'>
list_all： {'2022-07-29': 16073, '2022-07-30': 20404, '2022-07-31': 15739, '2022-08-01': 18888, '2022-08-02': 18207, '2022-08-03': 14425, '2022-08-04': 16947, '2022-08-05': 12589, '2022-08-06': 20955, '2022-08-07': 11110, '2022-08-08': 11539, '2022-08-09': 20455, '2022-08-10': 21589, '2022-08-11': 13629, '2022-08-12': 19691, '2022-08-13': 11202, '2022-08-14': 14492, '2022-08-15': 17706, '2022-08-16': 24120, '2022-08-17': 16128, '2022-08-18': 12517, '2022-08-19': 17701, '2022-08-20': 14164, '2022-08-21': 12437, '2022-08-22': 20572, '2022-08-23': 19240, '2022-08-24': 26069, '2022-08-25': 15148, '2022-08-26': 21274, '2022-08-27': 22320, '2022-08-28': 15848, '2022-08-29': 17759} <class 'dict'>